In [1]:
import pandas as pd

In [2]:
gen_nonsense = pd.read_csv("Bus_data_gen_weights_mappings.csv")
gen_nonsense.head()

,Unnamed: 0,Bus Number,Bus Name,Bus latitude,Bus longitude,Gen bus/ Non-gen bus,Nominal Voltage (KV),Weather Zone,County,Land-Based Wind,...,Coal_FE - Generation Scaled,Biopower - Generation Scaled,Nuclear - Generation Scaled,Geothermal - Generation Scaled,Solar - Utility PV - Generation Scaled,Natural Gas_FE - Generation Weight,Natural Gas_CT - Generation Weight,Solar - Utility PV - Generation Weight,Solar - CSP - Generation Weight,Land-Based Wind - Generation Weight
0,0,1,Tennessee Colony 345,31.852,-95.888,1,345,EAST,Anderson,Land-Based Wind - Class 8,...,0.0,0.0,0.0,0.0,32.609927,306.065217,124.233871,185.715018,0.0,135.206582
1,1,2,Wheeler 345,35.437,-100.197,1,345,NORTH,Wheeler,NaN,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
2,2,3,Alpine 2 345,30.429,-103.326,1,345,FWEST,Brewster,Land-Based Wind - Class 7,...,0.0,0.0,0.0,0.0,33.619076,0.000000,0.000000,191.462163,0.0,152.107217
3,3,4,Rosharon 345,29.381,-95.470,0,345,COAST,Brazoria,Land-Based Wind - Class 7,...,0.0,0.0,0.0,0.0,29.392088,0.000000,62.116935,167.389278,0.0,152.107217
4,4,5,Sullivan City 345,26.289,-98.547,0,345,SOUTH,Hidalgo,Land-Based Wind - Class 7,...,0.0,0.0,0.0,0.0,29.392088,306.065217,124.233871,167.389278,0.0,152.107217

In [3]:
gen_nonsense = gen_nonsense[gen_nonsense["Gen bus/ Non-gen bus"] == 1]
gen_nonsense.head()

,Unnamed: 0,Bus Number,Bus Name,Bus latitude,Bus longitude,Gen bus/ Non-gen bus,Nominal Voltage (KV),Weather Zone,County,Land-Based Wind,...,Coal_FE - Generation Scaled,Biopower - Generation Scaled,Nuclear - Generation Scaled,Geothermal - Generation Scaled,Solar - Utility PV - Generation Scaled,Natural Gas_FE - Generation Weight,Natural Gas_CT - Generation Weight,Solar - Utility PV - Generation Weight,Solar - CSP - Generation Weight,Land-Based Wind - Generation Weight
0,0,1,Tennessee Colony 345,31.852,-95.888,1,345,EAST,Anderson,Land-Based Wind - Class 8,...,0.0,0.0,0.0,0.0,32.609927,306.065217,124.233871,185.715018,0.0,135.206582
1,1,2,Wheeler 345,35.437,-100.197,1,345,NORTH,Wheeler,NaN,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
2,2,3,Alpine 2 345,30.429,-103.326,1,345,FWEST,Brewster,Land-Based Wind - Class 7,...,0.0,0.0,0.0,0.0,33.619076,0.000000,0.000000,191.462163,0.0,152.107217
5,5,6,Prosper 345,33.242,-96.808,1,345,NCENT,Collin,Land-Based Wind - Class 8,...,0.0,0.0,0.0,0.0,32.609927,0.000000,62.116935,185.715018,0.0,135.206582
6,6,7,Eastland 345,32.399,-98.801,1,345,NCENT,Eastland,Land-Based Wind - Class 7,...,0.0,0.0,0.0,0.0,32.609927,0.000000,124.233871,185.715018,0.0,152.107217

In [4]:
candidate_ng_ct_df = gen_nonsense[gen_nonsense["Natural Gas_CT - Generation Weight"] > 100]
len(candidate_ng_ct_df["Bus Number"])

42

In [5]:
candidate_ng_fe_df = gen_nonsense[gen_nonsense["Natural Gas_FE - Generation Weight"] > 300]
len(candidate_ng_fe_df["Bus Number"])

25

In [6]:
candidate_pv_df = gen_nonsense[gen_nonsense["Solar - Utility PV - Generation Weight"]> 180]
len(candidate_pv_df["Bus Number"])

64

In [7]:
candidate_wind_df = gen_nonsense[gen_nonsense["Land-Based Wind - Generation Weight"]> 150]
len(candidate_wind_df["Bus Number"])

38

In [8]:
candidate_ng_ct_by_bus = dict(zip(candidate_ng_ct_df["Bus Name"], candidate_ng_ct_df["Bus Number"]))
candidate_ng_fe_by_bus = dict(zip(candidate_ng_fe_df["Bus Name"],candidate_ng_fe_df["Bus Number"]))
candidate_pv_by_bus = dict(zip(candidate_pv_df["Bus Name"], candidate_pv_df["Bus Number"]))
candidate_wind_by_bus = dict(zip(candidate_wind_df["Bus Name"], candidate_wind_df["Bus Number"]))

In [9]:
from pathlib import Path

pricing_data_book_names = [
    "Land-Based Wind",
    "Solar - CSP",
    "Natural Gas_FE",
    "Coal_FE",
    "Biopower",
    "Nuclear",
    "Geothermal",
    "Solar - Utility PV",
]
pricing_data_sheet = "2022 v3 Annual Technology Baseline Workbook Mid-year update 2-15-2023 Clean.xlsx"
pricing_data_sheet_path = Path(pricing_data_sheet)
pricing_dict = {}
for this_book_name in pricing_data_book_names:
    pricing_dict[this_book_name] = pd.read_excel(
        pricing_data_sheet_path, this_book_name
    )

In [10]:
gen_uids = []
bus_uids = []
unit_types = []
fuels = []
pmax = []
pmin = []
minup = []
mindown = []
capex1 = []
capex2 = []
capex3 = []
fuel_costs1 = []
fuel_costs2 = []
fuel_costs3 = []
fixed_ops1 = []
fixed_ops2 = []
fixed_ops3 = []
var_ops1 = []
var_ops2 = []
var_ops3 = []
# for bus in candidate_ng_ct_by_bus:
#     gen_uids.append("ct_" + str(bus) + "-c")
#     bus_uids.append(bus)
#     unit_types.append("CT")
#     fuels.append("G")
#     pmax.append(727)
#     pmin.append(218)
#     minup.append(6)
#     mindown.append(8)
bus_data_df = gen_nonsense
var_of_interest = "CAPEX ($/kW)"
subvar_of_interest = "Moderate"
gen_type = "Natural Gas_FE"
demo_df = pricing_dict[gen_type][
    (pricing_dict[gen_type]["Key1"] == var_of_interest)
    & (pricing_dict[gen_type]["Key3"] == subvar_of_interest)
]
bus_cutdown_df = bus_data_df[["Bus Name", gen_type]]
the_thing_we_want = bus_cutdown_df[gen_type].iloc[0]
the_row_that_has_the_prices = demo_df[demo_df["Key2"] == the_thing_we_want]
bus_capex_df = pd.merge(bus_cutdown_df, demo_df, left_on=gen_type, right_on="Key2")
for bus_name, bus in candidate_ng_fe_by_bus.items():
    
    gen_uids.append("ct_fe_" + str(bus) + "-c")
    bus_uids.append(bus)
    unit_types.append("CT")
    fuels.append("G")
    pmax.append(992)
    pmin.append(297.6)
    minup.append(6)
    mindown.append(8)
    capex1.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2025]))
    capex2.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2030]))
    capex3.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2035]))

gen_type = "Solar - Utility PV"
demo_df = pricing_dict[gen_type][
    (pricing_dict[gen_type]["Key1"] == var_of_interest)
    & (pricing_dict[gen_type]["Key3"] == subvar_of_interest)
]
bus_cutdown_df = bus_data_df[["Bus Name", gen_type]]
the_thing_we_want = bus_cutdown_df[gen_type].iloc[0]
the_row_that_has_the_prices = demo_df[demo_df["Key2"] == the_thing_we_want]
bus_capex_df = pd.merge(bus_cutdown_df, demo_df, left_on=gen_type, right_on="Key2")
for bus_name, bus in candidate_pv_by_bus.items():
    gen_uids.append("pv_" + str(bus) + "-c")
    bus_uids.append(bus)
    unit_types.append("PV")
    fuels.append("S")
    pmax.append(100)
    pmin.append(0)
    minup.append(0)
    mindown.append(0)
    capex1.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2025]))
    capex2.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2030]))
    capex3.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2035]))

gen_type = "Land-Based Wind"
demo_df = pricing_dict[gen_type][
    (pricing_dict[gen_type]["Key1"] == var_of_interest)
    & (pricing_dict[gen_type]["Key3"] == subvar_of_interest)
]
bus_cutdown_df = bus_data_df[["Bus Name", gen_type]]
the_thing_we_want = bus_cutdown_df[gen_type].iloc[0]
the_row_that_has_the_prices = demo_df[demo_df["Key2"] == the_thing_we_want]
bus_capex_df = pd.merge(bus_cutdown_df, demo_df, left_on=gen_type, right_on="Key2")
for bus_name, bus in candidate_wind_by_bus.items():
    gen_uids.append("wind_" + str(bus) + "-c")
    bus_uids.append(bus)
    unit_types.append("WIND")
    fuels.append("W")
    pmax.append(200)
    pmin.append(0)
    minup.append(0)
    mindown.append(0)
    capex1.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2025]))
    capex2.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2030]))
    capex3.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2035]))

In [11]:
var_of_interest = "Heat Rate  (MMBtu/MWh)"
subvar_of_interest = "Moderate"
bus_data_df = gen_nonsense
gen_type = "Natural Gas_FE"
demo_df = pricing_dict[gen_type][
    (pricing_dict[gen_type]["Key1"] == var_of_interest)
    & (pricing_dict[gen_type]["Key3"] == subvar_of_interest)
]
bus_cutdown_df = bus_data_df[["Bus Name", gen_type]]
the_thing_we_want = bus_cutdown_df[gen_type].iloc[0]
the_row_that_has_the_prices = demo_df[demo_df["Key2"] == the_thing_we_want]
bus_capex_df = pd.merge(bus_cutdown_df, demo_df, left_on=gen_type, right_on="Key2")
ng_costs = [3.49,2.91, 3.68]
for bus_name, bus in candidate_ng_fe_by_bus.items():
    fuel_costs1.append(ng_costs[0]*float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2025]))
    fuel_costs2.append(ng_costs[1]*float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2030]))
    fuel_costs3.append(ng_costs[2]*float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2035]))
for bus_name, bus in candidate_pv_by_bus.items():
    fuel_costs1.append(0)
    fuel_costs2.append(0)
    fuel_costs3.append(0)
for bus_name, bus in candidate_wind_by_bus.items():
    fuel_costs1.append(0)
    fuel_costs2.append(0)
    fuel_costs3.append(0)

In [12]:

var_of_interest = "Fixed Operation and Maintenance Expenses ($/kW-yr)"
gen_type = "Natural Gas_FE"
demo_df = pricing_dict[gen_type][
    (pricing_dict[gen_type]["Key1"] == var_of_interest)
    & (pricing_dict[gen_type]["Key3"] == subvar_of_interest)
]
bus_cutdown_df = bus_data_df[["Bus Name", gen_type]]
the_thing_we_want = bus_cutdown_df[gen_type].iloc[0]
the_row_that_has_the_prices = demo_df[demo_df["Key2"] == the_thing_we_want]
bus_capex_df = pd.merge(bus_cutdown_df, demo_df, left_on=gen_type, right_on="Key2")
for bus_name, bus in candidate_ng_fe_by_bus.items():
    fixed_ops1.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2025]))
    fixed_ops2.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2030]))
    fixed_ops3.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2035]))
    
gen_type = "Solar - Utility PV"
demo_df = pricing_dict[gen_type][
    (pricing_dict[gen_type]["Key1"] == var_of_interest)
    & (pricing_dict[gen_type]["Key3"] == subvar_of_interest)
]
bus_cutdown_df = bus_data_df[["Bus Name", gen_type]]
the_thing_we_want = bus_cutdown_df[gen_type].iloc[0]
the_row_that_has_the_prices = demo_df[demo_df["Key2"] == the_thing_we_want]
bus_capex_df = pd.merge(bus_cutdown_df, demo_df, left_on=gen_type, right_on="Key2")
for bus_name, bus in candidate_pv_by_bus.items():
    fixed_ops1.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2025]))
    fixed_ops2.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2030]))
    fixed_ops3.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2035]))
gen_type = "Land-Based Wind"   
demo_df = pricing_dict[gen_type][
    (pricing_dict[gen_type]["Key1"] == var_of_interest)
    & (pricing_dict[gen_type]["Key3"] == subvar_of_interest)
]
bus_cutdown_df = bus_data_df[["Bus Name", gen_type]]
the_thing_we_want = bus_cutdown_df[gen_type].iloc[0]
the_row_that_has_the_prices = demo_df[demo_df["Key2"] == the_thing_we_want]
bus_capex_df = pd.merge(bus_cutdown_df, demo_df, left_on=gen_type, right_on="Key2")
for bus_name, bus in candidate_wind_by_bus.items():
    fixed_ops1.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2025]))
    fixed_ops2.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2030]))
    fixed_ops3.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2035]))

In [13]:
var_of_interest = "Variable Operation and Maintenance Expenses ($/MWh)"
gen_type = "Natural Gas_FE"
demo_df = pricing_dict[gen_type][
    (pricing_dict[gen_type]["Key1"] == var_of_interest)
    & (pricing_dict[gen_type]["Key3"] == subvar_of_interest)
]
bus_cutdown_df = bus_data_df[["Bus Name", gen_type]]
the_thing_we_want = bus_cutdown_df[gen_type].iloc[0]
the_row_that_has_the_prices = demo_df[demo_df["Key2"] == the_thing_we_want]
bus_capex_df = pd.merge(bus_cutdown_df, demo_df, left_on=gen_type, right_on="Key2")
for bus_name, bus in candidate_ng_fe_by_bus.items():
    var_ops1.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2025]))
    var_ops2.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2030]))
    var_ops3.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2035]))

gen_type = "Solar - Utility PV"
demo_df = pricing_dict[gen_type][
    (pricing_dict[gen_type]["Key1"] == var_of_interest)
    & (pricing_dict[gen_type]["Key3"] == subvar_of_interest)
]
bus_cutdown_df = bus_data_df[["Bus Name", gen_type]]
the_thing_we_want = bus_cutdown_df[gen_type].iloc[0]
the_row_that_has_the_prices = demo_df[demo_df["Key2"] == the_thing_we_want]
bus_capex_df = pd.merge(bus_cutdown_df, demo_df, left_on=gen_type, right_on="Key2")
for bus_name, bus in candidate_pv_by_bus.items():
    var_ops1.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2025]))
    var_ops2.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2030]))
    var_ops3.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2035]))

gen_type = "Land-Based Wind" 
demo_df = pricing_dict[gen_type][
    (pricing_dict[gen_type]["Key1"] == var_of_interest)
    & (pricing_dict[gen_type]["Key3"] == subvar_of_interest)
]

bus_cutdown_df = bus_data_df[["Bus Name", gen_type]]
the_thing_we_want = bus_cutdown_df[gen_type].iloc[0]
the_row_that_has_the_prices = demo_df[demo_df["Key2"] == the_thing_we_want]
bus_capex_df = pd.merge(bus_cutdown_df, demo_df, left_on=gen_type, right_on="Key2")
for bus_name, bus in candidate_wind_by_bus.items():
    var_ops1.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2025]))
    var_ops2.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2030]))
    var_ops3.append(float(bus_capex_df[bus_capex_df["Bus Name"] == bus_name][2035]))

In [14]:
target_columns = ["GEN UID","Bus ID","Unit Type","Fuel","MW Inj","MVAR Inj","V Setpoint p.u.","PMax MW","PMin MW","QMax MVAR","QMin MVAR","Min Down Time Hr","Min Up Time Hr","Ramp Rate MW/Min","Start Time Cold Hr","Start Time Warm Hr","Start Time Hot Hr","Start Heat Cold MBTU","Start Heat Warm MBTU","Start Heat Hot MBTU","Non Fuel Start Cost $","Fuel Price $/MMBTU","Output_pct_0","Output_pct_1","Output_pct_2","Output_pct_3","Output_pct_4","HR_avg_0","HR_incr_1","HR_incr_2","HR_incr_3","HR_incr_4"]
unit_types_map = {"Nuclear":"NUC", "Natural Gas": "CT", "Coal": "COAL", "Wind": "WIND", "Solar": "PV", "Hydro": "HYDRO"}
fuel_types_map = {"NUC": "N", "COAL": "C", "CT": "G", "WIND": "W", "HYDRO": "H", "PV": "S"}
up_time_map = {
    "G": 6,
    "W": 0,
    "C": 24,
    "H": 0,
    "N": 48,
    "S": 0,
}
down_time_map = {
    "G": 8,
    "W": 0,
    "C": 12,
    "H": 0,
    "S": 0,
    "N": 48,
}
gen_data_target = pd.DataFrame(columns=target_columns)
gen_data_target["GEN UID"] = gen_uids
gen_data_target["Bus ID"] = bus_uids
gen_data_target["Unit Type"] = unit_types
gen_data_target["Fuel"] = fuels
gen_data_target["PMax MW"] = pmax
gen_data_target["PMin MW"] = pmin
gen_data_target["V Setpoint p.u."].fillna(1, inplace=True)
gen_data_target["Min Up Time Hr"] = minup
gen_data_target["Min Down Time Hr"] = mindown
gen_data_target["Output_pct_0"].fillna(0.6, inplace=True)
gen_data_target["Output_pct_1"].fillna(1,inplace=True)
gen_data_target["capex1"] = capex1
gen_data_target["capex2"] = capex2
gen_data_target["capex3"] = capex3
gen_data_target["fuel_cost1"] =fuel_costs1
gen_data_target["fuel_cost2"] =fuel_costs2
gen_data_target["fuel_cost3"] =fuel_costs3
gen_data_target["fixed_ops1"] = fixed_ops1
gen_data_target["fixed_ops2"] = fixed_ops2
gen_data_target["fixed_ops3"] = fixed_ops3
gen_data_target["var_ops1"] = var_ops1
gen_data_target["var_ops2"] = var_ops2
gen_data_target["var_ops3"] = var_ops3
gen_data_target.fillna("", inplace=True)

In [15]:
gen_data_target.head()

,GEN UID,Bus ID,Unit Type,Fuel,MW Inj,MVAR Inj,V Setpoint p.u.,PMax MW,PMin MW,QMax MVAR,...,capex3,fuel_cost1,fuel_cost2,fuel_cost3,fixed_ops1,fixed_ops2,fixed_ops3,var_ops1,var_ops2,var_ops3
0,ct_fe_1-c,1,CT,G,,,1,992,297.6,,...,908.964962,21.62404,18.03036,22.80128,26.87,26.87,26.87,1.76,1.76,1.76
1,ct_fe_18-c,18,CT,G,,,1,992,297.6,,...,908.964962,21.62404,18.03036,22.80128,26.87,26.87,26.87,1.76,1.76,1.76
2,ct_fe_23-c,23,CT,G,,,1,992,297.6,,...,908.964962,21.62404,18.03036,22.80128,26.87,26.87,26.87,1.76,1.76,1.76
3,ct_fe_32-c,32,CT,G,,,1,992,297.6,,...,908.964962,21.62404,18.03036,22.80128,26.87,26.87,26.87,1.76,1.76,1.76
4,ct_fe_36-c,36,CT,G,,,1,992,297.6,,...,908.964962,21.62404,18.03036,22.80128,26.87,26.87,26.87,1.76,1.76,1.76

In [16]:
gen_data_target.to_csv("candidate_generators_initial_list.csv",index=False)