In [1]:
import pandas as pd

In [12]:
adjusted_forecast = pd.read_excel("data/123_Bus_Coal/ERCOT-Adjusted-Forecast.xlsb")

In [13]:
adjusted_forecast_by_period = adjusted_forecast[(adjusted_forecast["year"] == 2025) | (adjusted_forecast["year"] == 2030) | (adjusted_forecast["year"] == 2035)]

In [14]:
adjusted_forecast_by_period

,year,month,day,hour,base_economic_coast,base_economic_east,base_economic_fwest,base_economic_ncent,base_economic_north,base_economic_scent,...,ercot_officer_letters,coast_net,east_net,fwest_net,ncent_net,north_net,scent_net,south_net,west_net,ercot_net
0,2025,1,1,1,10911.026346,1591.385041,5760.172657,12923.690544,1292.783181,6857.522768,...,0.000000,11016.720904,1595.604241,7005.406076,13731.771853,1590.184574,7963.001165,3083.657450,1278.813058,47265.159323
1,2025,1,1,2,10790.562174,1585.064519,5793.359757,13024.608210,1298.919056,6875.647389,...,0.000000,10889.026624,1589.002841,7037.640112,13821.276896,1595.610131,7982.702152,2969.722019,1282.659064,47167.639839
2,2025,1,1,3,10647.783836,1612.868993,5797.457782,13065.736452,1297.861910,6854.008783,...,0.000000,10735.960923,1616.137405,7042.834684,13847.088460,1593.238341,7949.609370,2977.539968,1288.329237,47050.738388
3,2025,1,1,4,10736.125484,1676.963414,5818.011078,13238.118383,1306.662068,6862.912360,...,0.000000,10813.557217,1679.557905,7056.928292,14000.156773,1601.295458,7958.416082,2956.687194,1305.696404,47372.295326
4,2025,1,1,5,10842.873513,1738.258462,5826.262818,13497.184077,1317.065016,6961.971287,...,0.000000,10911.436706,1740.114370,7061.965737,14243.722287,1610.750595,8047.218844,2975.825943,1324.599157,47915.633639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96403,2035,12,31,20,15096.269223,2192.319311,8272.596012,15566.575428,1867.807637,9734.713358,...,35269.230916,24644.857056,2617.069576,21757.562855,36182.272740,12526.204690,35233.967991,15772.285822,9007.037380,129347.617335
96404,2035,12,31,21,14811.095651,2173.189878,8277.950859,15306.814673,1867.267692,9556.244242,...,35269.230916,24403.048497,2601.543890,21795.125975,35945.154779,12517.971315,35091.441840,15682.040563,9003.922132,128646.608218
96405,2035,12,31,22,14557.158593,2145.866373,8236.663647,15012.580167,1847.414432,9305.840120,...,35269.230916,24121.920531,2576.224481,21758.135632,35569.831827,12524.046296,34808.849177,15534.060084,8986.896665,127486.323920
96406,2035,12,31,23,14196.832359,2126.716515,8195.675177,14655.364632,1839.741331,9129.927044,...,35269.230916,23798.258661,2565.454558,21768.667466,35280.016081,12529.435130,34613.728390,15421.874775,8974.807520,126558.601807
96407,2035,12,31,24,13887.936023,2105.162846,8180.621600,14527.857249,1824.105061,8902.872211,...,35269.230916,23497.091840,2544.282958,21747.733998,35178.789337,12530.269491,34424.604485,15283.306519,8955.126746,125767.564601

In [15]:
base_zones = ["base_economic_coast", "base_economic_east", "base_economic_fwest", "base_economic_ncent", "base_economic_north", "base_economic_scent", "base_economic_south", "base_economic_west"]
scaled_zones = ["coast_net", "east_net", "fwest_net", "ncent_net", "north_net", "scent_net", "south_net", "west_net"]
zones = ["coast", "east", "fwest", "ncent", "north", "scent", "south", "west"]
cap_zones = [zone.upper() for zone in zones]

In [16]:
for i,zone in enumerate(zones):
    adjusted_forecast_by_period["scaled_" + zone] = adjusted_forecast_by_period[scaled_zones[i]]/adjusted_forecast_by_period[base_zones[i]]

/var/folders/lv/z9sw2q9128s_vgrc420hsnzh003w79/T/ipykernel_38353/2081675482.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adjusted_forecast_by_period["scaled_" + zone] = adjusted_forecast_by_period[scaled_zones[i]]/adjusted_forecast_by_period[base_zones[i]]
/var/folders/lv/z9sw2q9128s_vgrc420hsnzh003w79/T/ipykernel_38353/2081675482.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adjusted_forecast_by_period["scaled_" + zone] = adjusted_forecast_by_period[scaled_zones[i]]/adjusted_forecast_by_period[base_zones[i]]
/var/folders/lv/z9sw2q9128s_vgrc420hsnzh003w79/T/ipykernel_38353/2081675482.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adjusted_forecast_by_period["scaled_" + zone] = adjusted_forecast_by_period[scaled_zones[i]]/adjusted_forecast_by_period[base_zones[i]]
/var/folders/lv/z9sw2q9128s_vgrc420hsnzh003w79/T/ipykernel_38353/2081675482.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adjusted_forecast_by_period["scaled_" + zone] = adjusted_forecast_by_period[scaled_zones[i]]/adjusted_forecast_by_period[base_zones[i]]
/var/folders/lv/z9sw2q9128s_vgrc420hsnzh003w79/T/ipykernel_38353/2081675482.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adjusted_forecast_by_period["scaled_" + zone] = adjusted_forecast_by_period[scaled_zones[i]]/adjusted_forecast_by_period[base_zones[i]]
/var/folders/lv/z9sw2q9128s_vgrc420hsnzh003w79/T/ipykernel_38353/2081675482.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adjusted_forecast_by_period["scaled_" + zone] = adjusted_forecast_by_period[scaled_zones[i]]/adjusted_forecast_by_period[base_zones[i]]
/var/folders/lv/z9sw2q9128s_vgrc420hsnzh003w79/T/ipykernel_38353/2081675482.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adjusted_forecast_by_period["scaled_" + zone] = adjusted_forecast_by_period[scaled_zones[i]]/adjusted_forecast_by_period[base_zones[i]]
/var/folders/lv/z9sw2q9128s_vgrc420hsnzh003w79/T/ipykernel_38353/2081675482.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adjusted_forecast_by_period["scaled_" + zone] = adjusted_forecast_by_period[scaled_zones[i]]/adjusted_forecast_by_period[base_zones[i]]

In [17]:
adjusted_forecast_by_period

,year,month,day,hour,base_economic_coast,base_economic_east,base_economic_fwest,base_economic_ncent,base_economic_north,base_economic_scent,...,west_net,ercot_net,scaled_coast,scaled_east,scaled_fwest,scaled_ncent,scaled_north,scaled_scent,scaled_south,scaled_west
0,2025,1,1,1,10911.026346,1591.385041,5760.172657,12923.690544,1292.783181,6857.522768,...,1278.813058,47265.159323,1.009687,1.002651,1.216180,1.062527,1.230047,1.161207,1.003266,1.002459
1,2025,1,1,2,10790.562174,1585.064519,5793.359757,13024.608210,1298.919056,6875.647389,...,1282.659064,47167.639839,1.009125,1.002485,1.214777,1.061166,1.228414,1.161011,1.003196,1.002357
2,2025,1,1,3,10647.783836,1612.868993,5797.457782,13065.736452,1297.861910,6854.008783,...,1288.329237,47050.738388,1.008281,1.002026,1.214814,1.059802,1.227587,1.159848,1.002681,1.001980
3,2025,1,1,4,10736.125484,1676.963414,5818.011078,13238.118383,1306.662068,6862.912360,...,1305.696404,47372.295326,1.007212,1.001547,1.212945,1.057564,1.225486,1.159627,1.002143,1.001611
4,2025,1,1,5,10842.873513,1738.258462,5826.262818,13497.184077,1317.065016,6961.971287,...,1324.599157,47915.633639,1.006323,1.001068,1.212092,1.055311,1.222985,1.155882,1.001518,1.001122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96403,2035,12,31,20,15096.269223,2192.319311,8272.596012,15566.575428,1867.807637,9734.713358,...,9007.037380,129347.617335,1.632513,1.193745,2.630077,2.324357,6.706368,3.619415,3.488587,5.968184
96404,2035,12,31,21,14811.095651,2173.189878,8277.950859,15306.814673,1867.267692,9556.244242,...,9003.922132,128646.608218,1.647619,1.197108,2.632913,2.348311,6.703898,3.672096,3.542970,5.993694
96405,2035,12,31,22,14557.158593,2145.866373,8236.663647,15012.580167,1847.414432,9305.840120,...,8986.896665,127486.323920,1.657049,1.200552,2.641620,2.369335,6.779229,3.740538,3.635053,6.059596
96406,2035,12,31,23,14196.832359,2126.716515,8195.675177,14655.364632,1839.741331,9129.927044,...,8974.807520,126558.601807,1.676308,1.206298,2.656116,2.407311,6.810433,3.791238,3.717226,6.132405
96407,2035,12,31,24,13887.936023,2105.162846,8180.621600,14527.857249,1824.105061,8902.872211,...,8955.126746,125767.564601,1.691907,1.208592,2.658445,2.421471,6.869270,3.866685,3.811837,6.203095

In [18]:
column_list = ["year", "month", "day", "hour", "scaled_coast", "scaled_east", "scaled_fwest", "scaled_ncent", "scaled_north", "scaled_scent", "scaled_south", "scaled_west"]

In [19]:
load_scaling_df = adjusted_forecast_by_period[column_list]

In [27]:
scaled_names = ["scaled_" + zone for zone in zones]
x = dict(zip(scaled_names,cap_zones))
x

{'scaled_coast': 'COAST',
 'scaled_east': 'EAST',
 'scaled_fwest': 'FWEST',
 'scaled_ncent': 'NCENT',
 'scaled_north': 'NORTH',
 'scaled_scent': 'SCENT',
 'scaled_south': 'SOUTH',
 'scaled_west': 'WEST'}

In [28]:
lsd = load_scaling_df.rename(columns=x)
lsd

,year,month,day,hour,COAST,EAST,FWEST,NCENT,NORTH,SCENT,SOUTH,WEST
0,2025,1,1,1,1.009687,1.002651,1.216180,1.062527,1.230047,1.161207,1.003266,1.002459
1,2025,1,1,2,1.009125,1.002485,1.214777,1.061166,1.228414,1.161011,1.003196,1.002357
2,2025,1,1,3,1.008281,1.002026,1.214814,1.059802,1.227587,1.159848,1.002681,1.001980
3,2025,1,1,4,1.007212,1.001547,1.212945,1.057564,1.225486,1.159627,1.002143,1.001611
4,2025,1,1,5,1.006323,1.001068,1.212092,1.055311,1.222985,1.155882,1.001518,1.001122
...,...,...,...,...,...,...,...,...,...,...,...,...
96403,2035,12,31,20,1.632513,1.193745,2.630077,2.324357,6.706368,3.619415,3.488587,5.968184
96404,2035,12,31,21,1.647619,1.197108,2.632913,2.348311,6.703898,3.672096,3.542970,5.993694
96405,2035,12,31,22,1.657049,1.200552,2.641620,2.369335,6.779229,3.740538,3.635053,6.059596
96406,2035,12,31,23,1.676308,1.206298,2.656116,2.407311,6.810433,3.791238,3.717226,6.132405
96407,2035,12,31,24,1.691907,1.208592,2.658445,2.421471,6.869270,3.866685,3.811837,6.203095

In [29]:
representative_dates = ["2019-01-28 00:00","2019-04-23 00:00","2019-07-05 00:00","2019-10-14 00:00"]

In [ ]:
import re
for date in representative_dates:
    broken_date= list(re.split(r"[-: ]", date))
    month = broken_date[1]
    day = broken_date[2]

['2019', '01', '28', '00', '00']
['2019', '04', '23', '00', '00']
['2019', '07', '05', '00', '00']
['2019', '10', '14', '00', '00']